.PieChart {
   display: flex;
   align-self: center;
   margin-bottom: 3%;
   margin-left: 3%;
}
.Alleaufgaben {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.clearfix {
   clear: both;
}

.box {
   width: 80%;
   color: #333;
   border: 2px solid #ddd;
   border-radius: 5px;
   margin-top: 2vh;
}
.title-box {
   cursor: pointer;
   padding: 1.5rem;
   background-color: #ffff;
   border-radius: 5px;
}
.title {
   width: calc(100% - 20px);
   font-size: 1.25rem;
}

.content {
   padding: 15px;
   border-top: 1px solid #ddd;
   border-radius: 5px;
   font-size: 1.25rem;
}
.btnInfo {
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   color: #ffff;
   height: 20px;
   width: 20px;
   background: rgba(51, 51, 51, 0.5);
}
/*.Modal{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   height: 300px;
   background: #fff;
}*/

/*.modalBtn1 {
   display: flex;
   align-items: center;
   width: 80%;
   height: 35px;
   color: #333;
   border: 2px solid rgba(90, 85, 202, 0.5);

   border-radius: 5px;
   margin-top: 10px;
   background: rgba(90, 85, 202, 0.5);
   margin-top: -15;
}
.modalBtn2 {
   display: flex;
   align-items: center;
   width: 80%;
   height: 35px;
   color: #333;
   background: #fff;
   border: 2px solid rgba(90, 85, 202, 0.5);
   border-radius: 5px;
   margin-top: -10px;
}
.modalBtn3 {
   display: flex;
   align-items: center;
   width: 80%;
   height: 35px;
   color: #333;
   background: #fff;
   border: 2px solid rgba(90, 85, 202, 0.5);
   border-radius: 5px;
   margin-top: -10px;
}*/
a {
   text-decoration: none;
}
