.FertigAufgaben {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.clearfix3 {
   clear: both;
}

.box3 {
   width: 81%;
   color: #333;
   border: 2px solid #ddd;
   border-radius: 5px;
   margin-top: 2vh;
}
.Fertig-box {
   cursor: pointer;
   padding: 1.5rem;
   background: #5a55ca;
   border-radius: 5px;
}
.title {
   width: calc(100% - 20px);
}

.content3 {
   padding: 15px;
   border-top: 1px solid #ddd;
   border-radius: 5px;
   font-size: 1.25rem;
}
