.InBearbeitungsaufgaben {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.clearfix {
   clear: both;
}

.box {
   width: 80%;
   color: #333;
   border: 2px solid #ddd;
   border-radius: 5px;
}
.Bearbeitung-box {
   cursor: pointer;
   padding: 1.5rem;
   background: #f26950;
   border-radius: 5px;
}
.title {
   width: calc(100% - 20px);
}

.Bearbeitung-content {
   padding: 15px;
   border-top: 1px solid #ddd;
   border-radius: 5px;
}
