.login .flex{
    display: flex;
    flex-direction: column;
}

.login h2 {
    text-align: center;
    font-weight: 500;
    color: #333333;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 6vh;
}

.login a{
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    padding-left: 13%;
}

.login .logo img{
    display: block;
    margin: 0 auto; 
    padding: 21vh 0 10vh 0;
}