.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
}
.wrapper {
   height: 500px;
   width: 90%;
   background: #ffffff;
   border-radius: 5px;
   transform: translate(-50%, -50%);
   position: absolute;
   top: 50%;
   left: 50%;
}

.Modal {
   height: inherit;
   border-radius: 5px;
   box-shadow: 0px 5px 5px rgba(90, 85, 202, 0.5);
   width: 65%;
   background: #ffffff;
   border-radius: 5px;
   transform: translate(-50%, -50%);
   position: absolute;
   top: 50%;
   left: 50%;
}

/* .modal div,
h4 {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 20%;
   left: 50%;
} */
.task {
   position: absolute;
   top: 20%;
   left: 9%;
   /* width: 50px;
   height: 50px; */
   /* transform: translate(-50%, -50%);  */
}
.circle {
   position: absolute;
   left: 9%;
   top: 55%;
   width: 20px;
   height: 20px;
   background: #2cc09c;
   border-radius: 50%;
}
.fertig {
   position: absolute;
   left: 18%;
   width: 20px;
   height: 20px;
   top: 55%;
}

.modalBtn1 {
   position: absolute;
   width: 80%;
   /* height: 35px; */
   color: #333;
   border: 2px solid rgba(90, 85, 202, 0.5);
   top: 65%;
   border-radius: 5px;
   left: 9%;
   background: rgba(90, 85, 202, 0.5);
   font-size: 1.5rem;
   font-family: Roboto;
   padding: 1vh 0;
   margin-bottom: 2vh;
}
.modalBtn2 {
   position: absolute;
   top: 76%;
   width: 80%;
   /* height: 35px; */
   color: #333;
   background: #fff;
   border: 2px solid rgba(90, 85, 202, 0.5);
   border-radius: 5px;
   left: 9%;
   font-size: 1.5rem;
   font-family: Roboto;
   padding: 1vh 0;
}
.modalBtn3 {
   position: absolute;
   top: 87%;
   width: 80%;
   /* height: 35px; */
   color: #333;
   background: #fff;
   border: 2px solid rgba(90, 85, 202, 0.5);
   border-radius: 5px;
   left: 9%;
   font-size: 1.5rem;
   font-family: Roboto;
   padding: 1vh 0;
}

.task h4{
   font-size: 1.5rem;
   font-family: Roboto;

}
.task img{
   width: 6%;
}

.task p{
   margin: 0 2%;
}