.registration form{
    display: flex;
    flex-direction: column;
}

.registration input{
    background-color: #fff;
    margin: 1vh 9%;
    border-radius: 5px;
    border:none;
    padding: 2vh 4%;
    font-size: 1.25rem; 
}

input::-webkit-input-placeholder { 
    color: #000;
    font: 300 1.25rem Roboto;
}

.registration button{
    background: #5A55CA;
    color: #fff;
    font-weight: bold;
    font: bold 1.25rem Roboto;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    margin: 1vh 9%;
    padding: 2vh 4%;
    border-radius: 5px;
    border:none;
}